<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.github.kajdreef.smartphonesensing" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- Main Activities -->
        <activity
            android:name=".Activities.Main.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.Main.LocalizationActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".Activities.Main.ServiceAndQueueActivity"
            android:label="@string/app_name" >
        </activity>

        <!-- Data Collection -->
        <activity
            android:name=".Activities.Test.DataCollectingButtons"
            android:label="@string/app_name" >
        </activity>

        <!-- Test Activities-->
        <activity
            android:name=".Activities.Test.TestActivity"
            android:label="@string/app_name" >
        </activity>
    </application>

</manifest>
